*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

/* inizio header */

header{
  height: 450px;
  background-color: #0C325A;
}

.header-top {
  height: 70px;
  line-height: 70px;
}

.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.header-top-logo{
  position: relative;
  width: 15%;
  height: 70px;
  float: left;
}

.header-top-logo img{
  position: absolute;
  top: 40%;
  transform: translateY(-50%)
}

.menu-inline{
  list-style: none;
  font-size: 10px;
}

.menu-inline li{
  display: inline-block;
}

.header-top-nav-left{
  width: 45%;
  float: left;
}

.header-top li{
  margin: 0 10px;
}

.header-top li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-top-nav-right{
  width: 40%;
  float: left;
  text-align: right;
}

/* .button{

} */

.header-top-nav-right .button-login {
  border: 1px solid #fff;
  background-color: #0C325A;
  color: white;
  border-radius: 5px;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.header-top-nav-right .button-green{
  background-color: #7CBB02;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.banner{
  position: relative;
  height: 380px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.header-bottom{
  position: absolute;
  top: 40%;
  transform: translateY(-50%)
}

.header-bottom h1{
  color: #fff;
  width: 60%;
  padding-bottom: 20px;
}

.header-bottom .button-header-bottom{
  background-color: #7CBB02;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

/* inizio corpo centrale */

main{
  height: 1000px;
}

.section-top{
  position: relative;
  height: 10%;
  background-color: #CECECE;
  text-align: center;
}

.section-top-info {
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-top-info h2{
  font-size: 24px;
}

.section-top-info p{
  color: #909090;
}

.section-central{
  height: 45%;
}

.section-central::after{
  content: "";
  display: table;
  clear: both;
}

.col-main{
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 30px 45px;
}

.col-main img{
height: 80px;
}

.col-main h3{
  color: #7CBB02;
  margin-top: 20px;
}

.col-main .line{
  border-top: 1px solid #909090;
  margin: 20px 40%;
}

.col-main p{
  font-size: 12px;
  color: #909090;
}

.col-left{

}

.col-central{

}

.col-right{

}

.section-bottom{
  height: 45%;
  background-color: green;
}
