*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}


header{
  height: 400px;
  background-color: #0C325A;
}

.container{
  width: 80%;
  margin: auto;
}

.header-top {
  height: 60px;
  line-height: 60px;
}

.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.header-top-logo{
  position: relative;
  width: 15%;
  height: 60px;
  float: left;
}

.header-top-logo img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.menu-inline{
  list-style: none;
  font-size: 12px;
}

.menu-inline li{
  display: inline-block;
}

.header-top-nav-left{
  width: 46%;
  float: left;
}

.header-top li{
  margin: 0 10px;
}

.header-top li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-top-nav-right{
  width: 34%;
  float: left;
  text-align: right;
  background-color: green;
}
